:root {
  --green: #1DB954;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.Content {
  padding: none;
}

.main_button {
  cursor: pointer;
  border: none;
  background-color: var(--green);
  color: white;
  border-radius: 8px;
  height: 50px;
  width: 50vw;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main_button:hover {
  transition: 0.3s;
  background-color: darkgreen;
}

.host_back_button {
  cursor: pointer;
  border: none;
  background-color: orange;
  color: white;
  border-radius: 8px;
  height: 50px;
  width: 50vw;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.host_back_button:hover {
  transition: 0.3s;
  background-color: #8B4000;
}

.searchcontainer {
  display: flex;
  justify-content: center;
}

.searchbar {
  width: 250px;
  height: 35px;
  font-size: medium;
  padding-left: 10px;
}

.tracksearchresult{
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.trackartist {
  color: grey;
}

.trackinfo {
  margin-left: 10px;
}

.amHostDiv {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  background-color: #1DB954;
}
.amJoinDiv {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  background-color: #00CDFE
}

.chosingDiv {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.hostDivBtn {
  font-weight: bold;
  display: inherit;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 40px;
  opacity: 0.9;
  position: relative;
  z-index: 1;
}

.joinDivBtn {
  font-weight: bold;
  display: inherit;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 40px;
  opacity: 0.9;
  position: relative;
  z-index: 1;
}

.hostDivBtn:hover {
  transition: 0.3s;
  background-color: darkgreen;
}

.joinDivBtn:hover {
  transition: 0.3s;
  background-color: #1484CD;
}

.skipperTitleDiv {
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 90px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
}

.skipperTitle {
  background-color: black;
  opacity: 0.85;
  z-index: 9;
  position: absolute;
}

.hostDiv {
  height: 100%;
  width: 100%;
  margin-top: 10vh;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.topHalfDiv {
  margin: 5px;
  background-color: red;
}

.infoDiv {
  display: flex;
  height: 50px;
  align-items: center;
}

.roomInfoDiv {
  padding: 5px;
  display: flex;
  align-items: center;
  width: 50vw;
  height: 100%;
  background-color: orange;
  font-size: 25px;
  font-weight: bold;
}

.skipInfoDiv {
  padding: 5px;
  display: flex;
  align-items: center;
  width: 50vw;
  height: 100%;
  background-color: #00CDFE;
  font-size: 25px;
  font-weight: bold;
}