:root {
  --green: #1DB954;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.Content {
  padding: none;
}

.main_button {
  cursor: pointer;
  border: none;
  background-color: var(--green);
  color: white;
  border-radius: 8px;
  height: 50px;
  width: 50vw;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main_button:hover {
  transition: 0.3s;
  background-color: darkgreen;
}

.host_back_button {
  cursor: pointer;
  border: none;
  background-color: orange;
  color: white;
  border-radius: 8px;
  height: 50px;
  width: 50vw;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.host_back_button:hover {
  transition: 0.3s;
  background-color: #8B4000;
}

.searchcontainer {
  display: flex;
  justify-content: center;
}

.searchbar {
  width: 250px;
  height: 35px;
  font-size: medium;
  padding-left: 10px;
}

.tracksearchresult{
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.trackartist {
  color: grey;
}

.trackinfo {
  margin-left: 10px;
}

.amHostDiv {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  background-color: #1DB954;
}
.amJoinDiv {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  background-color: #00CDFE
}

.chosingDiv {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.hostDivBtn {
  font-weight: bold;
  display: inherit;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 40px;
  opacity: 0.9;
  position: relative;
  z-index: 1;
}

.joinDivBtn {
  font-weight: bold;
  display: inherit;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 40px;
  opacity: 0.9;
  position: relative;
  z-index: 1;
}

.hostDivBtn:hover {
  transition: 0.3s;
  background-color: darkgreen;
}

.joinDivBtn:hover {
  transition: 0.3s;
  background-color: #1484CD;
}

.skipperTitleDiv {
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 90px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
}

.skipperTitle {
  background-color: black;
  opacity: 0.85;
  z-index: 9;
  position: absolute;
}

.hostDiv {
  height: 100%;
  width: 100%;
  margin-top: 10vh;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.topHalfDiv {
  margin: 5px;
}

.infoDiv {
  display: flex;
  height: 50px;
  align-items: center;
}

.roomInfoDiv {
  padding: 5px;
  display: flex;
  align-items: center;
  width: 50vw;
  height: 100%;
  background-color: orange;
  font-size: 25px;
  font-weight: bold;
}

.skipInfoDiv {
  padding: 5px;
  display: flex;
  align-items: center;
  width: 50vw;
  height: 100%;
  background-color: #00CDFE;
  font-size: 25px;
  font-weight: bold;
}

.CurrentCard {
  font-weight: bold;
  display: flexbox;
  padding: 5px;
  margin: 5px;
}

.CurrentContainer {
  font-weight: bold;
  padding: 5px;
  display: flex;
  border: 1px solid lightgrey;
}

.CurrentVote {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  padding: 5px;
}

.guestVoteDiv {
  font-size: 25px;
  font-weight: bold;
  background-color: #00CDFE;
  display: flex;
  padding: 10px;
}

.skipBtn {
  font-weight: bold;
  font-size: 25px;
  margin: 3px;
  margin-top: 7px;
  width: 50%;
  max-width: 200px;
  background: #8B4000;
  cursor: pointer;
  border-radius: 12px;
  padding: 0;
  outline-offset: 4px;
}

.skipBtnFront {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: orange;
    color: white;
    transform: translateY(-6px);
}

.skipBtn:active .skipBtnFront {
  transform: translateY(-2px);
}

.skipBtn:disabled {
  transform: translateY(-2px);
}

.skipBtn:disabled .skipBtnFront {
  transform: translateY(-2px);
  background-color: rgba(0, 0, 0, 0.6);
}


.guestRoomDiv {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  width: 100%;
  background-color: orange;
  height: 70px;
  padding: 5px;
  padding-bottom: 7px;
  padding-top: 7px;
}
.joinRoomBtn {
  font-weight: bold;
  font-size: 25px;
  margin: 3px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  max-width: 200px;
  background: #1484CD;
  cursor: pointer;
  border-radius: 12px;
  padding: 0;
  outline-offset: 4px;
}

.joinRoomBtnFront {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #00CDFE;
    color: white;
    transform: translateY(-6px); 
}

.joinRoomBtn:active .joinRoomBtnFront {
  transform: translateY(-2px);
}

.guestRoomInput {
  width: 30%;
  max-width: 250px;
  border-radius: 12px;
  padding: 5px;
  font-size: 15px;
  height: 100%;
}

.goBackBtn {
  font-weight: bold;
  font-size: 25px;
  margin: 3px;
  margin-left: 10px;
  margin-right: 10px;
  width: 40%;
  max-width: 200px;
  cursor: pointer;
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  padding: 0;
  outline-offset: 4px;
}

.goBackBtnFront {
    display: block;
    padding: 6px 26px;
    border-radius: 12px;
    font-size: 1rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px); 
}

.goBackBtn:active .goBackBtnFront {
  transform: translateY(-2px);
}

.goBackDiv {
  display: flex;
  justify-content: center;
}

.displayRoomDiv {
  display: flexbox;
  align-items: right;
  margin-left: 10px;
  margin-right: 7px;
}

.guestInputJoinDiv {
  height: 100%;
  width: 100%;
}

.HostPopUp {
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  background: lightgrey;
  position: fixed;
  z-index: 1;
  height: fit-content;
  width: 95%;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
  opacity: 0.98;
}

.HostPopUp button {
  justify-content: center;
}

.Disclaimer {
  font-size: 1.0rem;
  font-weight: light;
}


.popRoomIdDiv {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
}

.popRoomIdDiv input {
  width: 100px;
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
}

.popThresholdDiv {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.popThresholdDiv input {
  width: 50px;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
}

.startBtn {
  font-weight: bold;
  font-size: 25px;
  margin: 3px;
  margin-left: 10px;
  margin-right: 10px;
  width: 40%;
  max-width: 200px;
  cursor: pointer;
  background: darkgreen;
  border-radius: 12px;
  padding: 0;
  outline-offset: 4px;
}

.startBtnFront {
  display: block;
  background: var(--green);
  padding: 6px 26px;
  border-radius: 12px;
  font-size: 1rem;
  color: white;
  transform: translateY(-6px); 
}

.goBackBtn:active .goBackBtnFront {
  transform: translateY(-2px);
}

.playlistResult {
  display: flex;
  margin: 5px;
  padding: 5px;
}

.mainCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 15px;
}

.mainCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mainContainer {
  padding: 2px 16px;
  max-height: 400px;
  overflow-y: scroll;
}

.mainCardTitle {
  padding: 5px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.25rem;
  border-bottom: 5px solid;
  border-bottom-style: ridge;
}

.trackSearchResultCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 15px;
}

.trackSearchResultCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tracksearchresultContainer {
  padding: 5px;
}

.playlistResultCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 15px;
}

.playlistResultCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.playlistResultContainer {
  padding: 5px;
}